<div>
    <div class="button-outer" v-on:click="hello()">
        <div class="button red"><i class="fa fa-comment-o"></i></div>
        <div class="button-text">调用Hello</div>
    </div>
    <div class="button-outer" v-on:click="counter_init()">
        <div class="button blue"><i class="fa fa-cog"></i></div>
        <div class="button-text">计数器Init</div>
    </div>
    <div class="button-outer" v-on:click="counter_add()">
        <div class="button yellow"><i class="fa fa-plus"></i></div>
        <div class="button-text">计数器增加</div>
    </div>
    <div class="button-outer" v-on:click="ite()">
        <div class="button green"><i class="fa fa-exchange"></i></div>
        <div class="button-text">IteGame交易</div>
    </div>
    <div class="button-outer" v-on:click="eosio()">
        <div class="button gray"><i class="fa fa-exchange"></i></div>
        <div class="button-text">Eosio交易</div>
    </div>
</div>